body{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    margin: 0%;
}
h1{
    font-size: 70px;
}
p{
    font-size: 25px;
}
.font-color {
    color:orange
}

.flexible-container {
    display: flex;
    margin-bottom: 120px;
}
.half-width{
    width: 50%;
    padding-left: 3%;
    padding-right: 3%;
}
img {
    height: 700px;
    width: 900px;
    padding-top: 15%;
    
}
.hire {
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 30px;
    color: wheat;
    font-weight: 700;
    border-radius: 10%;
}
.banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.download{
    background-image: linear-gradient(orange, tomato);
    padding: 20px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5%;
    text-decoration: none;
}
.my-dream{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-bottom: 15%;
    background-size: 10%;
}
.container {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;

    padding-left: 5%;
    border-radius: 5px;
    box-shadow: 18px 16px 40px gray;
    

    
}
.align {
    padding-left: 5%;
}

#border-color{
    border-left: 10px solid;
    border-image: linear-gradient(orange, tomato);
    border-image-slice: 1;
}
#border-rong{
    border-left: 10px solid;
    border-image: linear-gradient(purple, yellow);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}